{% extends 'base.html.twig' %}

{% block title %}Saison {{ season.number }} de {{ program.title }}{% endblock %}

{% block body %}
    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
        </div>
    </div>

    <h2>Description de la saison</h2>
    <p>{{ season.description }}</p>

  <h3>Liste des épisodes</h3>
<ul>
    {% for episode in episodes %}
        <li>
            Épisode {{ episode.id }} :<a href="{{ path('program_episode_show', { "program": program.id, "season": season.id, "episode": episode.id }) }}">{{ episode.title }}</a> 
        </li>
</ul>


    {% endfor %}


{% endblock %}
