{% extends 'base.html.twig' %}

{% block title %}Les acteurs par series{% endblock %}

{% block body %}

<h1> Liste des séries de {{actor.firstname}} {{actor.lastname}} </h1>
<img src="{{ vich_uploader_asset(actor) }}" alt="{{ actor.firstname }}">

{% for program in actor.programs %}
    <ul>
        <li><a href="{{ path('program_show', { slug: program.slug }) }}">{{ program.title }}</a></li>

    </ul>
{% else %}
    <p>Aucune série trouvée.</p>
{% endfor %}

{% endblock %}